<div class="container mt-5">
    <h2>Crear Entrada</h2>
    <form (ngSubmit)="saveEntry()">
      <div class="mb-3">
        <label for="product" class="form-label">Producto</label>
        <select
          id="product"
          class="form-select"
          [(ngModel)]="entry.product"
          name="product"
          required
        >
          <option *ngFor="let product of products" [ngValue]="product">
            {{ product.name }}
          </option>
        </select>
      </div>
      <div class="mb-3">
        <label for="supplier" class="form-label">Proveedor</label>
        <select
          id="supplier"
          class="form-select"
          [(ngModel)]="entry.supplier"
          name="supplier"
          required
        >
          <option *ngFor="let supplier of suppliers" [ngValue]="supplier">
            {{ supplier.name }}
          </option>
        </select>
      </div>
      <div class="mb-3">
        <label for="quantity" class="form-label">Cantidad</label>
        <input
          type="number"
          id="quantity"
          class="form-control"
          [(ngModel)]="entry.quantity"
          name="quantity"
          required
        />
      </div>
      <button type="submit" class="btn btn-success">Guardar</button>
      <a class="btn btn-secondary" routerLink="/entries">Cancelar</a>
    </form>
  </div>
  