<div class="container mt-5">
  <h2>{{ product.id ? 'Editar Producto' : 'Crear Producto' }}</h2>
  <form (ngSubmit)="saveProduct()">
    <div class="mb-3">
      <label for="name" class="form-label">Nombre</label>
      <input
        type="text"
        class="form-control"
        id="name"
        [(ngModel)]="product.name"
        name="name"
        required
      />
    </div>
    <div class="mb-3">
      <label for="quantity" class="form-label">Cantidad</label>
      <input
        type="number"
        class="form-control"
        id="quantity"
        [(ngModel)]="product.quantity"
        name="quantity"
        required
      />
    </div>
    <div class="mb-3">
      <label for="price" class="form-label">Precio</label>
      <input
        type="number"
        class="form-control"
        id="price"
        [(ngModel)]="product.price"
        name="price"
        step="0.01"
        required
      />
    </div>
    <button type="submit" class="btn btn-success">Guardar</button>
    <a class="btn btn-secondary" routerLink="/products">Cancelar</a>
  </form>
</div>
